@import url('https://fonts.googleapis.com/css?family=Cardo');

@font-face {
  font-family: 'HarryP';
  font-style: normal;
  font-weight: 400;
  src:
    url(/Fonts/HarryP-Regular.woff2) format('woff2'),
    url(/Fonts/HarryP-Regular.woff) format('woff');
}

html{
  margin: 0;
  background-image: url('https://vignette.wikia.nocookie.net/harry-potter-media/images/5/50/Wiki-background/revision/latest?cb=20160306133238&format=original');
}

.App {
  text-align: center;
  font-family: 'HarryP';
  color: white
}


.nav{
  margin-top: 30px;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}

.nav button{
  font-size: 14px;
  margin: 1em;
  position: relative;
  max-width: 250px;
  min-width: 150px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  border: 2px solid #000000;
}

.nav button:focus{
  background-color: red;
  outline: 0;

  /* margin: 1em;
  position: relative;
  max-width: 250px;
  min-width: 150px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  border: 2px solid #000000; */
}

.nav span{
  vertical-align: middle;
}

.sortinghat-div{
  margin-top: 25px;
}

.sortinghat-header{
  font-size: 80px;
  text-shadow: 3px -4px red;
}

.sortinghat-button{
  font-size: 14px;
  margin: 1em;
  position: relative;
  max-width: 250px;
  min-width: 150px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  border: 2px solid #000000;
}

.sortinghat-result{
  font-size: 45px;
  letter-spacing: .2em;
  margin: 0 auto;
  overflow: hidden;
  white-space: no-wrap;
  border-right: .1em solid orange;
  animation:
    typing 15.5s steps(100, end),
    blinking-cursor .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.welcome-title{
  font-size: 120px;
  letter-spacing: 10px;
  opacity: .85;
  color: white;
  text-shadow: 3px -4px #FFD70F;
}

.welcome-body{
  font-size: 85px;
  letter-spacing: 1px;
  color: white;
  opacity: .85;
  text-shadow: 3px 3px #FFD70F;
}

.house-title{
  font-size: 45px;

}

.houses-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  justify-content: center;
  position: relative;
}

.house-content{
  height: 500px;
  width: 500px;
  transform-style: preserve-3d;
  transition: all 1.0s ease;
  backface-visibility: hidden;
  color: black;
}

.house-content:hover{
  transform: rotateY(180deg);
}

.house-header{
  font-size: 50px;
  letter-spacing: 10px;
  opacity: .85;
  color: white;
  text-shadow: 3px -4px #FFD70F;
}
#Gryffindor.house-content{
  background: url('https://images.ctfassets.net/bxd3o8b291gf/49zkCzoZlekCmSq6OsycAm/da6278c1af372f18f8b6a71b226e0814/PM_House_Pages_400_x_400_px_FINAL_CREST2.png?w=550&h=550&fit=thumb&f=center&q=85');
  background-size: 500px;
  background-repeat: no-repeat;
}

#Slytherin{
  background-image: url('https://images.ctfassets.net/bxd3o8b291gf/4U98maPA5aEUWcO8uOisOq/e01e17cc414b960380acbf8ace1dc1d5/PM_House_Pages_400_x_400_px_FINAL_CREST4.png?w=550&h=550&fit=thumb&f=center&q=85');
  background-size: 500px ;
  background-repeat: no-repeat;
}

#Ravenclaw{
  background-image: url('https://images.ctfassets.net/bxd3o8b291gf/5pnnQ5puTuywEEW06w2gSg/91abff3d923b4785ed79e9abda07bd07/PM_House_Pages_400_x_400_px_FINAL_CREST.png?w=550&h=550&fit=thumb&f=center&q=85');
  background-size: 500px ;
  background-repeat: no-repeat;
}

#Hufflepuff{
  background-image: url('https://images.ctfassets.net/bxd3o8b291gf/2GyJvxXe40kkkG0suuqUkw/e1a64ec404cf5f19afe9053b9d375230/PM_House_Pages_400_x_400_px_FINAL_CREST3.png?w=550&h=550&fit=thumb&f=center&q=85');
  background-size: 500px ;
  background-repeat: no-repeat;
}

.house-back{
  font-size: 30px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: 50%;
  padding-top: 10px;
  height: 350px;
  text-decoration: underline;
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

.character-title{
  font-size: 50px;
  text-shadow: 3px -4px red;
}

.character-buttons{
  margin-top: 30px;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}

.character-buttons button{
  font-size: 14px;
  margin: 1em;
  position: relative;
  max-width: 250px;
  min-width: 150px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  border: 2px solid #000000;
}

.character-buttons button:focus{
  background-color:red;
  outline: 0;
}

#students{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;

}

#students-ind{
  font-size: 30px;
  margin-left: 50px;
}

.focus-in-contract-bck{
  animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.text-focus-in {
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.focus-in-contract{
  animation: focus-in-contract 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.tracking-in-contract-bck-bottom{
  animation: tracking-in-contract-bck-bottom 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.tracking-in-contract-bck{
  animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
